# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Build files
build/
dist/
.eggs/
*.egg-info/

# Virtual Environments
.venv/
venv/
ENV/
env/

# Environment Variables
.env

# Dataset (keep trained model files)
dataset/

# IDE
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Temporary
*.log